body{
    font-family: Tahoma, sans-serif;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

#food_nav {
    background-color: #afafaf;
    border: solid black 1px;
    margin: 0;
}

.navbar-nav {
    background-color: #fff;
    font-size: 1.25em;
    border: solid black 1px;
}

.menuitem {
    border: solid black 1px;
}

.menuitem:hover {
    background-color: #afafaf;
}


section{
    background-color: #afafaf;
    border: solid black 1px;
    min-height: 1000px;
}

.navbar-brand {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    padding: 5px 15px;
}
h3 {
    margin-top: 0px;
    text-align: center;
    font-size: 1.25em;
    padding: 5px 15px;

}

.row {
    display: block;
}

#menu_header {
    text-align: center;
    display: block;
}
p {
    padding: 5px 25px;
    clear: both;
}




